<%= form_for(@tipo, html: { class: "dark-matter"}) do |f| %>
  <% if @tipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo.errors.count, "error") %> prohibited this tipo from being saved:</h2>

      <ul>
      <% @tipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h1>Novo Tipo</h1>


  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class:"button" %>
    <%= link_to 'Back', contatos_path, class:"button" %>
  </div>
<% end %>
