<div class="dark-matter">
<h1>Seja Bem Vindo!</h1>

<h2><%= t 'hello.friend' %></h2>
<h2><%= l Date.today %></h2>


<ul>
    <li><%= link_to "Tipos", tipos_path %></li>
    <li><%= link_to "Contatos", contatos_path %></li>
    <li><%= link_to "Enderecos", enderecos_path %></li>
    <li><%= link_to "Telefones", telefones_path %></li>
    
</ul>

</div>