<%= form_for(@endereco, html: { class: "dark-matter"}) do |f| %>
  <% if @endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% @endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h1>Endereço</h1>

  <div class="field">
    <%= f.label :rua %><br>
    <%= f.text_field :rua %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :contato_id %><br>
    <%= f.text_field :contato_id %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class:"button" %>
    <%= link_to 'Back', contatos_path, class:"button" %>
  </div>
<% end %>
